* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
}

button {
    max-width: 150px;
}

.resp-img {
    max-width: 100%;
    height: 100%;
}

/* ...................................................................... */
header {
    grid-area: 1 / 1 / 2 / 2;
    display: grid;
    grid-template-rows: repeat(3, 80px) 1fr;
    grid-template-columns: repeat(4, 1fr);
}

header img {
    grid-area: 1 / 1 / 5 / 5;
    max-width: 100%;
}

.logo {
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    justify-content: center;
}

/* --------- NAVIGATION ---------- */
nav {
    grid-area: 2 / 4 / 3 / 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 100px;
    position: relative;
}

.nav-button {
    background-color: transparent;
    cursor: pointer;
    transition: 100ms;
    display: flex;
    justify-content: center;
}

nav::after {
    content: "MENU";
    font-size: 0.6rem;
    margin-left: 3px;
}

.nav-button:hover {
    transform: scale3d(1.2, 1.2, 1.2);
}

.nav-content {
    display: none;
    position: absolute;
    top: 40px;
    left: -80px;
    background-color: rgba(249, 249, 249, 0.1);
    z-index: 1;
    padding: 30px;
}

.nav-content a {
    display: block;
    text-decoration: none;
    color: #666666;
    font-size: 1.3rem;
}

.nav-content a:hover {
    text-decoration: underline;
}

.show {
    display: block;
}

.title {
    grid-area: 4 / 2 / 5 / 3;
    display: flex;
    flex-direction: column;
    margin-top: 90px; 
}

.title h1 {
    font-size: 51px;
    font-weight: 500;
    margin-bottom: 10px;
}

.title p {
    font-size: 20px;
}

/* .................................................................... */
.about-me {
    grid-area: 2 / 1 / 3 / 2;    
    background-color: #f3f1ef;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
}

.about-me-img {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
}

.about-me-text {
    grid-area: 1 / 2 / 2 / 3;
    color: #666666;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 70%;
}

.about-me-text h4 {
    margin-left: 50px;
    margin-bottom: 10px;
}

.about-me-text p {
    font-size: 30px;
    margin-left: 50px;
}

/* .................................................................... */
.gallery {
    grid-area: 3 / 1 / 4 / 2;
    background-color:#3f729b;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.gallery-first {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
}

.gallery-second {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
}

.gallery-third {
    grid-area: 1 / 3 / 2 / 4;
    display: flex;
}

.gallery-fourth {
    grid-area: 1 / 4 / 2 / 5;
    display: flex;
}

.gallery-fifth {
    grid-area: 2 / 3 / 3 / 4;
    display: flex;
}

.instagram {
    grid-area: 2 / 1 / 3 / 3;
    color: #f9f9f9;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* ..................................................................... */
.music {
    grid-area: 4 / 1 / 5 / 2;
    background-color:#282b2f;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.music-img {
    grid-area: 1 / 2 / 3 / 5;
    display: flex;
}

.music-player {
    grid-area: 1 / 2 / 2 / 3;
    background-color:#212227;
    z-index: 2;
}

.spotify {
    grid-area: 3 / 1 / 4 / 3;
    background-color: #2ebd59;
    color: #f9f9f9;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.itunes {
    grid-area: 3 / 3 / 4 / 5;
    background-color: #282b2f;
    color: #f9f9f9;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* ..................................................................... */
footer {
    grid-area: 5 / 1 / 6 / 2;
    background-color:#212227;
}

footer h4 {
    color: #f9f9f9;
}

footer p {
    color: #919191;
}

/* .......................... MEDIA QUERIES ............................ */

@media only screen and (max-width: 1500px) {
    .title h1 {
        font-size: 40px;
    }

    .title p {
        font-size: 15px;
    }
}

@media only screen and (max-width: 1200px) {
    .title h1 {
        font-size: 30px;
    }

    .title p {
        font-size: 15px;
    }
}