* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 2px solid black;
}

/* .................... SETTING THE MAIN GRID UP ....................... */
main {
    display: grid;
    grid-template: 900px 500px 1030px 900px 515px 600px / 1fr;
}

/* ................................HEADER............................... */

header {
    grid-row: 1 / 2;
    background-color: blue;
}

/* .............................. ABOUT ME ............................. */

.about-me {
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: gray;
}

/* ............................... GALLERY ............................. */

.gallery {
    grid-row: 3 / 4;
    display: grid;
    grid-template: repeat (2. 1fr) / repeat(4, 1fr);
    background-color: brown;
}

/* ............................... MUSIC ............................... */

.music {
    grid-row: 4 / 5;
    display: grid;
    grid-template-columns: repeat (2. 1fr) / repeat(4, 1fr);
    background-color: green;
}

/* ............................... SOCIAL .............................. */

.social {
    grid-row: 5 / 6;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: yellow;
}

/* ............................... FOOTER .............................. */

footer {
    grid-row: 6 / 7;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: darksalmon;
}

/* ........................... MEDIA QUERIES ........................... */